#welcomeLabel_style
{
	-fx-font-family : "Comic Sans MS" ;
	-fx-font-size : 14pt ;
	-fx-text-fill : white ;	
	-fx-font-weight : bolder ;
}

#justSomeText
{
	-fx-font-family : "Dialog" ;
	-fx-font-size : 12pt ;
	-fx-text-fill : white ;
	-fx-font-weight : bold ;
}

.tree-view .tree-cell				/* to change the style of the TreeView and its Items */
{
	-fx-background-color : black ;
	-fx-text-fill : white ;
	-fx-font-family : "Comic Sans MS" ;
	-fx-font-size : 11pt ;
}

.tree-view .tree-cell: focused
{
	-fx-background-color : white ;
	-fx-text-fill : black ;
}

#header_style
{
	-fx-font-family : "Comic Sans MS" ;
	-fx-font-size : 13pt ;
	-fx-text-fill : white ;
	-fx-font-weight : bold ;
}

#instruction_style
{
	-fx-font-family : "Dialog" ;
	-fx-font-size : 13pt ;
	-fx-text-fill : white ;
}

#backBtn_style
{	
	-fx-font-family : "Dialog" ;
	-fx-font-size : 10pt ;
	-fx-background-color : cornflowerblue ;
	-fx-text-fill : white ;
	-fx-font-weight : bold ;
	-fx-background-radius : 5 ;
}

#signOutBtn_style
{
	-fx-font-family : "Comic Sans MS" ; 
	-fx-font-size : 12pt ;
	-fx-background-color : orange ;
	-fx-text-fill : black ;
	-fx-font-weight : bold ;
	-fx-background-radius : 5 ;
}

#add_or_save_btn_style
{	
	-fx-font-size : 12pt ;
	-fx-background-color : black ;
	-fx-text-fill : white ;
	-fx-font-weight : bold ;
	-fx-font-style : italic ;
	-fx-background-radius : 5 ;
}

.text-field
{
/*	-fx-background-color : transparent ;*/
	-fx-background-radius : 5 ;
	-fx-font-size : 10pt ;
	-fx-font-family : "Comic Sans MS" ;
}

#searchBtn_style
{
	-fx-font-family : "Comic Sans MS" ; 
	-fx-font-size : 9pt ;
	-fx-background-color : lightblue ;
	-fx-text-fill : black ;
	-fx-background-radius : 5 ;	
}

.table-view .column-header-background .filler
{
	-fx-background-color : transparent ;
}

.table-view .column-header-background
{
    -fx-background-color: white ;
    -fx-font-size : 10.5pt ;
}

.table-view .column-header 
{
    -fx-background-color: transparent ;
}

.table-view .table-cell
{
	-fx-border-color: transparent;
}

.table-row-cell
{
	-fx-background-color : black ;
	-fx-text-background-color : white ;
	-fx-font-size : 9.8pt ;
}

.table-row-cell : hover
{
	-fx-background-color : white ;
	-fx-text-background-color : black ;	
}

.table-row-cell:empty
{
	-fx-background-color: black ;
}

.table-row-cell:empty .table-cell
{
	-fx-border-width: 0px ;
}